<nav class="navbar navbar-expand-lg navbar-dark  fixed-top navbar-eventia">
  <div class="container">
    <a class="navbar-brand navbar-brand-eventia" href="#ingresar">
      <i class="fa-regular fa-copyright me-2"></i>Eventia Corp
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light ms-2" href="#ingresar">
            <i class="fas fa-sign-in-alt me-1"></i>Ingresar
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>