<form>
  <div class="mb-3">
    <label for="id" class="form-label">ID:</label>
    <input [(ngModel)]="id" name="id" type="number" class="form-control" id="id" placeholder="Ingresa el ID">
  </div>

  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre:</label>
    <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" id="nombre" placeholder="Ingresa el nombre del rol">
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción:</label>
    <input [(ngModel)]="descripcion" name="descripcion" type="text" class="form-control" id="descripcion" placeholder="Ingresa la descripción">
  </div>

  <button type="button" class="btn btn-primary" (click)="agregarTipo()">Registrar Rol</button>

</form>
