<!-- Top Navbar -->
<div class="top-navbar-eventia">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col align-items-center">
        <button class="btn btn-toggle-sidebar btn-outline-dark" (click)="onToggleClick()">
          <!-- Boton de Sidebar -->
          <i class="fa-solid fa-bars"></i>
        </button>
        {{ location }}
      </div>

      <div class="col-auto">
        <div class="d-flex align-items-center">
          <!-- Menu -->
          <div class="user-avatar-eventia me-2">NC</div>
          <div class="dropdown">
            <button
              class="btn btn-outline dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Usuario
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Perfil</a></li>
              <li><a class="dropdown-item" [routerLink]="'/index'">Cerrar Sesión</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
