.custom-card-width-250 {
    width: 250px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-hover-lift:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.35) !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-img-height {
    height: 150px;
    object-fit: cover;
}

.custom-description {
    white-space: pre-line;
    font-size: 0.95em;
}

.custom-btn-full {
    display: block;
    width: calc(100% - 30px);
    margin: 0px 15px 15px 15px;
    padding: 8px 0;
}
