<form  (ngSubmit)="guardar()"><!-- declarar  [formGroup]="usuarioForm" -->
  <div class="mb-3">
    <label>ID:</label>
    <input class="form-control" formControlName="id" type="number" />
  </div>
  <div class="mb-3">
    <label>Nombre</label>
    <input class="form-control" formControlName="name" />
  </div>
  <div class="mb-3">
    <label>Descripción</label>
    <textarea class="form-control" formControlName="description" ></textarea>
  </div>
  <div class="mb-3">
    <label>Fecha:</label>
    <input class="form-control" formControlName="date" type="date" />
  </div>
  <div class="mb-3">
    <label>Tipo</label>
    <select class="form-select" formControlName="type">
      <option selected>Seleccione...</option>
      <option value="admin">Show</option>
      <option value="cliente">Cumpleaños</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Organizador:</label>
    <select class="form-select" formControlName="organization">
      <option selected>Seleccione...</option>
      <option value="admin">Idk</option>
      <option value="cliente">Master & Media</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Estado</label>
    <select class="form-select" formControlName="state">
      <option selected>Seleccione...</option>
      <option value="admin">Vacantes</option>
      <option value="cliente">Lleno</option>
      <option value="cliente">Finalizado</option>
    </select>
  </div>
</form>