<!-- Title -->
<div class="text-light align-items-center p-3 d-flex sidebar-brand-eventia">
  <button class="btn btn-toggle-sidebar btn-oculto btn-outline-light" (click)="onToggleClick()">
    <!-- Button Side -->
    <i class="fa-solid fa-bars"></i>
  </button>
  <i class="fa-regular fa-copyright me-2"></i>
  <span class="brand-text">Eventia Corp</span>
</div>

<!-- Options -->
<div class="sidebar-nav-eventia">
  @for (item of optionSidebar; track item.id) {
  <a [routerLink]="item.route" routerLinkActive="active" class="nav-link">
    <i class="{{ item.icon }}"></i>
    <span>{{ item.name }}</span>
  </a>
  }
</div>
