<form>
  <div *ngIf="mensaje" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ mensaje }}
    <button type="button" class="btn-close" (click)="mensaje = ''"></button>
  </div>

  <div *ngIf="mensajeError" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ mensajeError }}
    <button type="button" class="btn-close" (click)="mensajeError = ''"></button>
  </div>

  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre:</label>
    <input [(ngModel)]="rol" name="nombre" type="text" class="form-control" id="nombre" placeholder="Ingresa el nombre del rol" required>
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción:</label>
    <input [(ngModel)]="descripcion" name="descripcion" type="text" class="form-control" id="descripcion" placeholder="Ingresa la descripción" required>
  </div>

  <button type="button" class="btn btn-primary" (click)="agregarRol()">
    {{ isEditMode ? 'Actualizar Rol' : 'Registrar Rol' }}
  </button>
</form>
